*.o
.*.swp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
assets/run
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
configure.ac
data/Makefile
data/Makefile.in
depcomp
doc/index.html
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
prototypes/pyo_stuff/nuages.py
prototypes/pyo_stuff/sounds/
prototypes/tuio/clutterspat
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/doxyfile
src/inoui
src/stamp-h1
tests/Makefile
tests/Makefile.in
calibration.grid
patches/SONS
